body{font-family: Verdana,Geneva,sans-serif; font-size: 14px; background: url('../images/bg-tile.png') #323232;}

h1{font-size: 36px; }
h2{font-size: 20px; }
h3{font-size: 16px;  font-weight: 400;  line-height: 24px;}
h4{font-size: 16px;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-family: 'Open Sans', sans-serif; }
a {color: #cd000b; text-decoration: none; outline: none; }
a:hover, a:focus {color: #111; text-decoration: none; outline: none; }

hr {border-top: 1px dotted #cd000b; }

.container{max-width: 1160px;}
section{max-width: 1160px; margin:  0 auto;}
.topPane{background: #fff;}
.topPane select{ background: #838383; color: #fff; border: none; height: 25px; font-size: 12px; box-shadow: none; padding: 3px 1px;  }
.topPane .col-md-2{padding-top: 10px; width: 14.5%;}
.topPane .col-md-2.country{padding-top: 10px; width: 20.5%;}
.topPane .col-md-2:last-child{padding-top: 10px; width: 14.5%; padding-right: 0;}
.topPane .col-md-2 input, .topPane .col-md-2 button{height: 25px; box-shadow: none; padding:1px 12px; box-shadow: none;}
.topPane .search .input-group{background: #838383 !important; color: #fff; border-radius: 3px; }
.topPane .country{position: relative;}
.topPane .country>a{background: #838383 none repeat scroll 0 0 !important;border-radius: 3px;color: #fff;display: block;font-size: 12px;padding: 4px 10px;}
.topPane .country>a .caret{ float: right; margin-top: 7px; }
.topPane .country ul.dropdown-menu {margin:0; padding:0 5px; left: auto; right: 16px; border:3px solid #7c7c7c; border-radius: 0; width: 250px; top: 35px;}
.topPane .country ul.dropdown-menu li{padding: 5px 0; border-bottom: 1px solid #9a9a9a; width: 100%; float: left; }
.topPane .country ul.dropdown-menu li span{float: left; font-size: 12px;}
.topPane .country ul.dropdown-menu li span.countryName {color: #bd0416; width: 100px; min-height: 22px;}
.topPane .country ul.dropdown-menu li span.languageOne {color: #555555; width: 63px; border-right:1px solid #bd0416; margin-bottom: 4px;}
.topPane .country ul.dropdown-menu li span.languageSecond {color: #555555; width: 50px; margin-left: 10px; margin-bottom: 4px;}
.topPane .country ul.dropdown-menu li span a{color: #555;}
.topPane .country ul.dropdown-menu li:last-child{border:none;}

.topPane .search input, .topPane .search button{color: #fff !important;  background: transparent !important; border: none; font-size: 13px;}
.topPane .login a{ width: 100%; background: #cd000b; color: #fff; border: none; font-size: 13px !important; line-height: 1.2; padding: 5px 12px; }
.topPane .search input::-webkit-input-placeholder {color: #fff;}
.topPane .search input:-moz-placeholder {color: #fff;}
.topPane .search input::-moz-placeholder {color: #fff;}
.topPane .search input:-ms-input-placeholder { color: #fff;}

header .container .row.headerBlock{background: url("../images/slider-bg.jpg") #040404 no-repeat bottom left; padding-bottom: 8px; }
header .container .row .menuPane{ background: url('../images/menu-bg.jpg') no-repeat top right; min-height: 118px; margin: 0; padding: 0 }
header .navbar{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;font-size: 15px;margin: 83px 0 0;min-height: 36px; } 
header .navbar-nav > li > a{ padding-top: 8px;  padding-bottom: 6px; text-transform: uppercase; color: #fff !important;}
header .navbar-right .dropdown-menu {
  width:auto; 
  min-width: 180px;
  font-size: 15px;
  left: 0;
  right: auto;   
  margin: 0; 
  padding:10px 0; 
  border: none; 
  border-left: 1px solid #999;
  border-radius: none;
  box-shadow: 5px 5px 5px #666;
}
header .nav > li:last-child .dropdown-menu{left: auto; right: 0;}
header .navbar-right .dropdown-menu li a{font-size: 13px; font-weight: 600; padding:6px 12px; text-transform: uppercase;}
header .nav > li{ margin: 0 17px; }
header .navbar{font-family: 'Open Sans', sans-serif;}
header .navbar-inverse .navbar-nav > .open > a, header .navbar-inverse .navbar-nav > .open > a:hover, header .navbar-inverse .navbar-nav > .open > a:focus{ 
  background: #cd000b;
  border-radius: 10px 10px 0 0; box-shadow: none; border-left: 1px solid #000;}
header .navbar-collapse{ margin: 0; padding: 0 }
header .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{ background: transparent; color: #cd000b; }
header .logo {margin:0 !important;}
header .logo img{padding: 17px 0 0 30px;}

.sliderPane .col-md-12{padding: 0; margin: 0;}
#slider .carousel{padding-bottom: 8px; background: url("../images/slider-bg.jpg"); position: relative;}
#slider-thumbs .col-md-12 .thumbImages{background: #000; width: 100%; float: left; padding-top: 13px; padding-bottom: 13px;}
#slider-thumbs .col-md-12 .thumbImages ul{text-align: center; margin:0;}
#slider-thumbs .col-md-12 .thumbImages ul li{list-style: none; display: inline; padding-left: 10px; padding-right: 10px;}
#slider-thumbs .col-md-12 .thumbImages ul li a img{cursor: pointer;}
#slider .prev, #slider .next {background-color: #ed000b;border-radius: 4px;color: #fff;display: inline-block;height: 40px;line-height: 40px;margin-top: -25px;position: absolute;text-align: center;top: 50%;width: 40px;z-index: 5;}
#slider .prev:hover, #slider .next:hover {background-color: #5f5f61;}
#slider .prev {left: -7px;}
#slider .next {right: -7px;}

.thumbImages .social-share{position: absolute; top: 20px; right: 20px;}
.thumbImages .social-share li{padding: 0 !important;}
.thumbImages .social-share li a {background: #404040 none repeat scroll 0 0; border-radius: 2px; color: #fff; display: inline-block; font-size: 15px; height: 30px;line-height: 30px; text-align: center; width: 31px; padding: 0;}
.thumbImages ul.social-share li.facebook a:hover { background: #37589b; }
.thumbImages ul.social-share li.twitter a:hover { background: #46d4fe; }
.thumbImages ul.social-share li.linkedin a:hover { background: #0077b5; }
.thumbImages ul.social-share li.youtube a:hover { background: #e62117; }

.HomeContentPane{background: #b8b7b5;}
.HomeContentPane>.row{padding: 30px 15px 45px;}
.HomecontentTextPane{background: #fff; border-radius: 5px 5px 0 0;}
.HomecontentTextPane h1{ background: #cd000b; color: #fff; text-transform: uppercase; font-size: 15px; margin: 0; padding: 10px 15px; border-radius: 5px 5px 0 0;}
.HomecontentTextPane p{padding: 15px; margin: 0; text-align: justify;}
.HomecontentTextPane img{float: right;}
.testimonialsName {display: block; font-style: italic;}
.testimonialsPane{margin-bottom: 20px;}
.testimonialsPane p{font-size: 12px;}
.testimonialsPane p:last-child{padding-top: 0 !important;}
.HomecontentTextPane .readMore{ display: block; text-align: right; font-weight: bold; margin-right:10px;}
.updates{ margin-bottom: 15px; }
.updates .imagePane{ width: 145px; float: left; padding: 15px; }
.updates h3{margin: 10px 0 3px; padding: 0;}
.updates p{margin-top: 10px 0; padding-top: 0; font-size: 12px;}
.profileBlock p{font-size: 13px;}

.newsArchieve h3{color: #cd000b;font-size: 14px;font-weight: bold;margin-bottom: 0;text-transform: uppercase;padding-left: 15px; padding-right: 15px;}
.newsArchieve h3:first-child{margin-top: 13px;}
.newsArchieve p{padding: 0 15px;}
.newsArchieve hr{margin-left: 15px; margin-right: 15px;}
.newsArchieve .readMore{padding: 18px 15px;}

.footerLinks{ background: #eaeaea; color: #222; padding-bottom: 30px; }
.footerLinks h3{color: #222229; font-weight: bold; text-transform: uppercase; padding-left: 15px;}
.footerLinks .col-md-3{width: 20%;}
.footerLinks .col-md-3 ul{margin: 0; padding: 0;}
.footerLinks .col-md-3 li{list-style: none; padding-left: 15px;}
.footerLinks .col-md-3 a{color: #222; font-size: 12px; line-height: 2;}
.footerLinks .col-md-3 a:hover{color: #cd000b;}

footer{background: #2e2e2e; color: #fff; border-top:5px solid #cd000b; font-size: 12px; padding: 15px 0;}
footer li{list-style: none; display: inline; padding: 0 5px;}
footer a{color: #fff;}
footer a:hover{color: #cd000b;}

/* Pads Comparison Table CSS starts */
.productPageLayout .rightMenuPane .tablePads{border-top: 2px solid #333; border-left: 2px solid #333; margin-bottom: 30px;}
.productPageLayout .rightMenuPane .tablePads th{
  background: #ed1c24 none repeat scroll 0 0;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 18px;
  text-align: center;
  text-transform: uppercase; 
  vertical-align: middle; 
  width: 27%;
}
.productPageLayout .rightMenuPane .tablePads th span{display: block;}
.productPageLayout .rightMenuPane .tablePads th .imgSpan{display: block; min-height: 110px;}
.productPageLayout .rightMenuPane .tablePads td{background: #fff; border-bottom: 2px solid #333;border-right: 2px solid #333;font-size: 14px;font-weight: normal;padding: 18px;text-align: center;text-transform: uppercase; vertical-align: middle;}
.productPageLayout .rightMenuPane .tablePads tr td:first-child{background: #e5e5e5; text-align: center; color: #000;}
.productPageLayout .rightMenuPane .tablePads tr th:first-child{background: #ed1c24; border-left: 2px solid #333; text-align: center; color: #fff;}
/* Pads Comparison Table CSS ends */

/* Calipers Comparison Table CSS starts */
.productPageLayout{background: #fff;}
.productPageLayout .leftMenuPane{ background: #fff; width: 21%; padding:27px 10px 30px 30px;}
.productPageLayout .leftMenuPane h2{margin-top: 0; text-transform: uppercase;}
.productPageLayout .rightMenuPane{ background: #b8b6b5; width: 79%; min-height: 600px; padding-left: 33px; padding-right: 30px; float: right;}
.productPageLayout .rightMenuPane h2{ text-transform: uppercase; margin-top:26px; }
.productPageLayout .rightMenuPane p{ font-size: 12px; color: #000; }
.comparisonTitle{text-transform: uppercase; text-align: center; }

.productPageLayout .rightMenuPane table{border-top: 2px solid #000; border-left: 2px solid #000; margin-bottom: 30px;}
.productPageLayout .rightMenuPane th{background: #e5e5e5 none repeat scroll 0 0;border-bottom: 2px solid #000;border-right: 2px solid #000;color: #040404;font-size: 14px;font-weight: normal;padding: 18px;text-align: center;text-transform: uppercase; vertical-align: middle; width: 27%;}
.productPageLayout .rightMenuPane th span{display: block;}
.productPageLayout .rightMenuPane th .imgSpan{display: block; min-height: 110px;}
.productPageLayout .rightMenuPane td{background: #fff; border-bottom: 2px solid #000;border-right: 2px solid #000;font-size: 14px;font-weight: normal;padding: 18px;text-align: center;text-transform: uppercase; vertical-align: middle;}
.productPageLayout .rightMenuPane tr td:first-child{background: #ed1c24; text-align: center; color: #fff;}
.productPageLayout .rightMenuPane tr th:first-child{background: #ed1c24; text-align: center; color: #fff;}
/* Pads Comparison Table CSS ends */

.overViewPane, .catalogOverviewPane{background: #fff; border-radius: 5px 5px 0 0; padding: 15px; margin-bottom: 40px;}
.catalogOverviewPane{ min-height: 530px; }
.overViewPane img{ float: right; }
.overViewPane ul, .catalogOverviewPane ul{ width: 350px; float: left; }
.catalogOverviewPane ul li{ font-size: 12px; }
.clear{clear: both;}


/* Catalog Page CSS */
.catalogPageLayout{background: #fff;}
.catalogPageLayout .leftMenuPane{ background: #fff; width: 21%; padding:27px 20px 30px 20px;}
.catalogPageLayout .leftMenuPane h2{padding-left:6px; margin-top: 0; text-transform: uppercase;}
.catalogPageLayout .rightMenuPane{ background: #b8b6b5; width: 79%; min-height: 600px; padding-left: 33px; padding-right: 30px; float: right;}
.catalogPageLayout .rightMenuPane h2{ text-transform: uppercase; margin-top:26px; }
.catalogPageLayout .rightMenuPane p{ font-size: 12px; color: #000; }

/*Catalog search area CSS*/
.catalogSearchApp { border:1px solid #9d9d9d !important; box-shadow: 2px 2px 2px #ccc;}
.catalogSearchApp input{width: 138px; float: left; font-size: 12px; font-weight: normal; line-height: 1.6; color: #000; border:1px solid #999; padding: 0px 5px; }
.part_number_search { font-size:12px; padding:10px 10px 15px; }
.vin_number_search { font-size:12px; padding:10px 10px 0px 10px; }
.search_by_vehicle { font-size:12px; padding:10px 10px 15px; }
.part{font-size: 11px; font-weight: 700;}
.search_class1{color: #fff; border: 0; font-size: 10px; font-weight: normal !important; padding: 3px 14px 4px;}
.search_class1{
  background: #7c0107; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#7c0107, #ed1c24); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7c0107, #ed1c24); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7c0107, #ed1c24); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#7c0107, #ed1c24);
}
.pro_num { color:red;}  
.option-heading{
  width:201px; 
  font-size:13px;
  font-weight:bold;
  cursor:pointer; 
  background:#c1c1c1;
  color:#666; 
  margin-top:0px; 
  padding: 5px 0 5px 12px;
}
.option-heading{
  border-top: 1px solid #c1c1c1;
  background: #c1c1c1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fff, #c1c1c1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #c1c1c1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #c1c1c1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #c1c1c1);
}
.option-heading .arrow-up{margin-left:-20px;width:25px;display:inline-block; float:right;}
.option-heading .arrow-down{margin-left:-20px;width:25px;display:inline-block; float:right;}
/*.element3Pane h2    { color:#000; text-transform:none !important; padding:15px;}*/

.app_l1 {
  width: 200px;
  font-size:10px !important;
  color: #666;
  text-transform:none;
  padding: 5px 15px 5px 10px;
  line-height: 1.2;
  margin-bottom: 0;
}
.search_by_vehicle .form-control {
  height: 28px;
  background: #fff;
  /*color: #000 !important;*/
  font-size: 13px;
  box-shadow: none;
  margin-bottom:10px;
  padding: 1px 12px 1px 5px;
  border: 1px solid #999;
  border-radius: 0px !important;
}
.search_by_vehicle .searchBig{height:45px; }
.search_by_vehicle .searchBig button{
  width: 180px; 
  background: linear-gradient(#7c0107, #ed1c24);
  color: #fff; 
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: none;
  text-shadow:none;
  border: none;
  letter-spacing: 1px;
}
.app_p1 {color:red !important;}
.saved_search { color:#ed1c24; font-size:10px; margin-bottom: 0; }
.search_items{
  width: 200px;
  font-size:10px !important;
  color: #666;
  text-transform:none;
  padding: 5px 15px 5px 10px;
  line-height: 1.2;
  margin-bottom: 0;
}
.search_items .product_name, .search_items .glyphicon-search, .search_items .search_again{color:#ed1c24;}
.search_items .glyphicon-search{padding-right: 3px;}
.search_items .search_again{text-decoration:underline;}

.filterByApp {margin-top:20px; border:1px solid #9d9d9d !important; box-shadow: 2px 2px 2px #ccc; min-height: 300px;}
.filterLable{
  width:201px; 
  font-size:13px;
  font-weight:bold;
  background:#fff;
  color:#666; 
  margin:0; 
  padding: 5px 0 5px 12px;
}
.product-filter-heading{
  width:201px;
  height: 30px;
  font-size:14px;
  font-weight:bold;
  cursor:pointer; 
  background:#ed1c24;
  color:#fff; 
  margin-top:0px; 
  padding: 5px 0 5px 12px;
}
.product-filter-heading input[type="checkbox"]{ width: 14px; height: 14px; margin-top:3px; }
/*.productsCheck{
  border:1px solid #fff;
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
}*/
.product-filter-heading .productLable{display: inline-block; float: right; margin-right: 90px;}
.product-filter-heading .arrow-up{margin-left:-20px;width:25px;display:inline-block; float:right;}
.product-filter-heading .arrow-down{margin-left:-20px;width:25px;display:inline-block; float:right;}

.productFilter .productContent{padding: 0px 5px; font-size: 11px; font-weight: 600; line-height: 1;}
.productFilter .productContent p{ margin:0; padding: 5px; clear: both;}
.productFilter .productContent p input[type="checkbox"]{margin:2px 5px 2px 0px; vertical-align: text-bottom;}

.productContent .pName{display:inline-block; float: left;}
.productContent .pQty{display:inline-block; float: right;}

/* End Catalog search area CSS */

.element3Textpane{ background: #fff; border-radius: 5px; padding:10px; margin: 23px 0 39px;}
.element3Textpane .scroll-pane {height: 450px;}
.element3Textpane .scroll-pane h3{font-size: 22px; margin: 5px 0 8px; font-weight: bold;}
.element3Textpane .scroll-pane ul{padding-left: 15px; font-size: 12px;}
.element3TextTab{  border-radius: 5px; margin: 23px 0 39px 30px; width: 46.2%;}

/* Element3 - EHT CSS Starts */
/*Slider*/
.element3Pane{background: #fff; border-radius: 5px; padding: 17px 17px 6px;}
.element3Pane ul{margin:0; padding: 0;}
.element3Pane ul li{margin:0; padding: 0; list-style: none;}
.element3Pane #slider-thumbs li{ width: 100px; float: left; margin-right: 22px; }
.element3Pane #slider-thumbs li a{margin-bottom: 12px; box-shadow: none; border-radius: 0;}
.element3Pane .carousel-bounding-box{margin:0; padding: 0; width: 563px;}
.element3Pane #slider-thumbs{padding-right: 0; margin-right: 0; width: 260px; float: right;}
.element3Pane #slider .carousel{ background: transparent; padding: 0; }
.element3Pane #slider .prev, .element3Pane #slider .next {background: none !important;border-radius: 4px;color: #000;display: inline-block;height: 40px;line-height: 40px;margin-top: -25px;position: absolute;text-align: center;top: 50%;width: 40px;z-index: 5; font-size: 22px;}
.element3Pane #slider .prev:hover, .element3Pane #slider .next:hover {background: none !important;}

/*TextPane*/
.element3EHTTextpane{background: #fff; border-radius: 5px 5px 0 0; padding:20px 10px 20px 20px; margin: 25px 0;}
.element3EHTTextpane .scroll-pane {height: 285px;}
.element3EHTTextpane .scroll-pane img {text-align: center;}
.element3EHTTextpane .scroll-pane .imgCenter{text-align: center !important;}
.element3EHTTextpane .scroll-pane h3{font-size: 16px; margin: 0px;}
.element3EHTTextpane .scroll-pane ul{padding-left: 30px; font-size: 13px;}
.ehtColumnLeft, .ehtColumnRight{width: 48%; display:block; height:auto;}
.ehtColumnLeft{margin-right:15px; background:#f00; float: left;}
.ehtColumnRight{margin-left:15px; background:#0f0; float: right;}

/*TextTab*/
.element3EHTTextTab{  border-radius: 5px; margin: 0; margin-bottom:40px;}

/* Element3 - EHT CSS ends */

/* Hub Assemblies CSS Starts */

.hubassembliesTextpane {background: #fff; border-radius: 5px 5px 0 0; padding:20px 10px 20px 20px; margin: 25px 0;}
.hubassembliesTextpane p{ font-size: 13px !important;}
.hubassembliesTextpane .scroll-pane {height: 510px;}
.hubassembliesTextpane .scroll-pane .hubText{width:75%; float: left;}
.hubassembliesTextpane .scroll-pane h3{font-size: 20px; margin:5px 0px; display: block;}
.hubassembliesTextpane .scroll-pane ul{padding-left: 30px; font-size: 11px; color: #000; font-weight: 600;}
.haColumnLeft, .haColumnRight{width: 45%; display:block; height:auto; min-height: 150px; float: left;}
.haColumnLeft .subHead, .haColumnRight .subHead{font-size: 14px; font-weight: 600; margin: 0px;}
.haColumnLeft{margin-right:15px; /*background:#f00; float: left; */}
.haColumnRight{margin-left:15px; /*background:#0f0; float: right;*/}

.hubassembliesTextpane .scroll-pane .hubImg{width:22%; float: left; margin-top: 40px;}

/* Hub Assemblies CSS ends */




/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  padding: 0 !important;
  border-radius: 4px;
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  height: 470px;
  background: #ed000c;
  border-radius: 5px 0 0 5px;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0; padding: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 3px;
  border:none;
  background: #ed000c;
  color: #fff; text-align: left;
  font-weight: bold;
  border-radius: 5px 0 0 5px;
}
div.bhoechie-tab-menu div.list-group>a:hover, div.bhoechie-tab-menu div.list-group>a:focus{ background: #ed000c; }
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  margin-bottom: 3px;
}
div.bhoechie-tab-menu div.list-group>a.active{
  background-color: #fff;
  background-image: #fff;
  color: #000;
  text-shadow: none;

}

div.bhoechie-tab-content{
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
}
div.bhoechie-tab{ padding: 0; }
div.bhoechie-tab div.bhoechie-tab-content:not(.active){display: none;}
.bhoechie-tab-menu .list-group{ background: #b8b7b5;  }
.bhoechie-tab-menu .list-group-item{ background: #b8b7b5; padding: 16px 0 16px 10px; margin-bottom: 2px; font-size: 12px;  }

.element3TextTab .innerTabPane{ /*padding-top: 16px; padding-bottom: 16px;*/}
.element3TextTab .innertabs { padding: 15px 1px; float: left;}
.element3TextTab .innertabs img{ float: left; margin-right: 5px; }
.element3TextTab .innertabs h3{ text-align: center;  margin:0 0 5px 0; text-transform: uppercase; color: #7f8a9c; font-size: 12px;}
.element3TextTab .innertabs p{ text-align: center; font-size: 10px;}
.element3TextTab .scroll-pane{height: 450px;}
.element3TextTab .scroll-pane .row{padding: 0; margin: 0; }

.element3EHTTextTab .innerTabPane{ /*padding-top: 16px; padding-bottom: 16px;*/}
.element3EHTTextTab .innertabs { padding: 15px 1px; float: left;}
.element3EHTTextTab .innertabs img{ float: left; margin-right: 5px; }
.element3EHTTextTab .innertabs h3{ text-align: center;  margin:0 0 5px 0; text-transform: uppercase; color: #7f8a9c; font-size: 12px;}
.element3EHTTextTab .innertabs p{ text-align: center; font-size: 10px;}
.element3EHTTextTab .scroll-pane{height: 450px;}
.element3EHTTextTab .scroll-pane .row{padding: 0; margin: 0; }



.specialityBlock{ background: #fff; border-radius: 5px; padding: 15px; max-width: 385px;  margin: 20px 20px 30px 18px; box-shadow: 5px 5px 9px #80807f;}  
.specialityBlock .leftPane{ width: 50%; float: left; } 
.specialityBlock .rightPane{ width: 50%; float: right; }
.specialityBlock .rightPane h3{ margin: 0; padding: 5px 0; font-size: 15px; color: #ce000c; line-height: 1.2;}
.specialityBlock .rightPane p{ font-size: 11px; text-align: justify; }
.europeanProductSlider .whiteBgPane{ background: #fff; border-radius: 5px 5px 0 0; padding: 15px; margin: 0 15px; width: 46.7%;}
.europeanProductSlider .whiteBgPane:last-child{margin-right: 1px;}
.europeanProductSlider .europeanthumbSlider ul{ margin:0; padding: 0; }
.europeanProductSlider .europeanthumbSlider ul li{ margin:0; padding: 0; list-style: none; display: inline; float: left; margin-right:16px;}
.europeanProductSlider .europeanthumbSlider ul li:last-child{margin: 0;}
.europeanProductSlider .europeanthumbSlider ul li a{ margin: 2px; padding: 0; border-radius: 0; }
.europeanProductSlider .europeanthumbSlider ul li a img{margin:0; padding:0; cursor: pointer;}
.europeanProductSlider .whiteBgPane .scroll-pane{height: 335px; outline: none;}
.europeanProductSlider .whiteBgPane .scroll-pane h2{margin: 15px 0; text-transform: none; line-height: 1.6;}
.europeanProductSlider .whiteBgPane .scroll-pane li{ font-size: 12px; list-style: square; }
.europeanProductSlider .tabpane{ margin: 25px 0 40px 0; width: 100%; padding: 0;}
.europeanProductSlider .tabpane >div{padding: 0;}
.europeanProductSlider .tabpane .tab-content{background: #fff; padding: 10px;}
.europeanProductSlider .tabpane .tab-content .row{padding:0; margin: 0;}
.europeanProductSlider .tabpane .nav-tabs>li>a{ background: #cd000b; color: #fff; font-weight: bold; font-weight: 700; font-family: 'Open Sans', sans-serif;}
.europeanProductSlider .tabpane .nav-tabs>li.active a{ background: #fff; color: #000; }
.europeanProductSlider .tabpane .nav-tabs>li>a:hover, .europeanProductSlider .tabpane .nav-tabs>li>a:focus{box-shadow: none; border-color: #cd000b;}
.europeanProductSlider .tabpane .nav-tabs>li.active a:hover, .europeanProductSlider .tabpane .nav-tabs>li.active a:focus{box-shadow: none; border-color: #fff;}
.europeanProductSlider .tabpane .tab-pane{ text-align: center; }
.europeanProductSlider .tabpane .tab-pane  .scroll-pane{height: 300px; outline: none;}
.europeanProductSlider .tabpane .tab-pane .innertabs{padding:50px 0;}
.europeanProductSlider .tabpane .tab-pane .innertabs h3{color: #7d8a9c; text-transform: uppercase; margin: 30px 0 0 0;}
.europeanProductSlider .tabpane .tab-pane .innertabs p{font-weight: bold; text-transform: none;}

.wheelCylindarBlock{ margin: 23px 0 30px; width: 48.2%; }
.wheelCylindarBlock h2{ margin-top: 0 !important; margin-left:0; color:#fff; text-transform: none !important; text-shadow: 3px 4px 5px #000; font-size: 24px; }
.wheelCylindarBlock .whiteBlock{background: #fff; border-radius: 5px; padding:10px;}
.wheelCylindarBlock .whiteBlock .scroll-pane {height: 450px;}
.wheelCylindarBlock .whiteBlock .scroll-pane img{float: right;}
.wheelCylindarBlock .whiteBlock .scroll-pane h3{font-size: 22px; margin: 5px 0 8px; font-weight: bold;}
.wheelCylindarBlock .whiteBlock .scroll-pane ul{padding-left: 15px; font-size: 12px;}
.wheelCylindarBlock .whiteBlock .scroll-pane ul li { margin-bottom: 3px; }
.wheelCylindarBlock .whiteBlock .scroll-pane ul li span{font-weight: bold; display: block; }
.productPageLayout .rightMenuPane .wheelCylindarBlock:first-child{ margin-right: 15px !important; }
.productPageLayout .rightMenuPane .wheelCylindarBlock:last-child{ margin-left: 15px; float: right; }
.fRight{float: right;}
.searchReviewTab{margin-bottom: 37px;}
.searchReviewTab .nav-tabs > li > a{background:#cd000b; border: none; color: #fff; }
.searchReviewTab .nav-tabs > li.active > a{background:#fff; border: none; color: #000; }
.searchReviewTab .tab-content{ background: #fff; padding: 15px;}
.searchReviewTab .tab-content label{ font-size: 11px; text-transform: uppercase; }
.searchReviewTab .tab-content select{width: 100%; font-size: 11px;}
.searchReviewTab .tab-content .submitButton{ background: #cd000b; color: #fff; border:none; padding: 3px 15px 3px 15px; font-size: 11px; text-transform: uppercase; border-radius: 3px; margin-top: 25px;}
.technicianLogin{border:1px solid #ed1b24; padding: 5px; text-align: center; width: 95%;}
.technicianLogin a{color: #ed1b24; text-transform: uppercase;}
.resourcesTechBulletin, .aboutPage{background: #fff; border-radius: 5px; padding: 17px 17px 6px; box-shadow: 4px 3px 4px #3c3a3a;}
.resourcesTechBulletin h3{ margin-top: 0;  font-weight: 400;color: #8d8c8a; font-size: 18px;}
.searchBulletinPane{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; width: 45%; background: #eeeeee; padding:0 5px; border-radius: 4px;}
.searchBulletinPane input{ background: transparent; padding: 10px 5px; border: none; width: 88%; }
.searchBulletinPane input[type=submit]{ color: #eeeeee; font-size: 1px; width: 40px; height: 40px; float: right; background: url("../images/search-icon-bulletin.png") no-repeat 12px center;}
.newsBulletinList ul {margin: 0; padding: 20px 0 0 0;}
.newsBulletinList ul li {list-style: none; border-top:1px solid #f4f4f4; padding: 10px 15px; margin: 0; width: 100%; float: left; font-size: 12px;}
.newsBulletinList ul li .bulletinText{width: 95%; float: left;}
.newsBulletinList ul li .downloadIcon{ width: 5%; float: left; text-align: right; }
.resourcesTechBulletin .pagination{margin: 5px;}
.resourcesTechBulletin .pagination{font-size: 11px;}
.bulletinLabel{ padding: 10px 0; }
.bulletinLabel span{ display: block; padding-left: 39px; }
.literatureWhitePane{background: #fff; border-radius: 5px; padding: 17px 17px 6px; box-shadow: 4px 3px 4px #3c3a3a;}
.literatureWhitePane h3{ margin-top: 0;  font-weight: 400;color: #cd000e; font-size: 18px;}


/* Aboutus WhowearePage CSS starts */
.aboutPageLayout{background: #fff;}
.aboutPageLayout .leftMenuPane{ background: #fff; width: 21%; padding:27px 10px 30px 30px;}
.aboutPageLayout .leftMenuPane h2{margin-top: 0; text-transform: uppercase;}
.aboutPageLayout .rightMenuPane{ background: #b8b6b5; width: 79%; min-height: 600px; padding-left: 33px; padding-right: 30px; padding-bottom: 40px; float: right;}
.aboutPageLayout .rightMenuPane h2{ text-transform: uppercase; margin-top:26px; }
.aboutPageLayout .rightMenuPane p{ font-size: 12px; color: #000; }

.aboutPage h3{font-size: 16px; color: #8d8c8a; text-transform: uppercase; margin-top: 0; }
.whowearePane, .funatraybestosPane{background: #fff;border-radius: 5px; margin-bottom: 40px;}
.whowearePane ul{ width: 350px; float: left; }
.whowearePane img{float: right; padding-left: 15px;}
.funatraybestosPane img{float: right; padding-right: 10px; }
.funTitle1, .funTitle2{width: 545px; float: left; font-size: 14px !important; font-weight: bold;}
.funTitle1{ margin-bottom: 0 !important;}
.funTitle2{color: #ed1c24 !important;}

.testimoialTitle { font-size: 17px; font-weight: 700; font-family: 'Open Sans', sans-serif; text-transform: uppercase; color: #818181; padding-top:5px; }
.testimonialTextpane { background: #f1f1f1; border-radius: 0px; padding:10px; margin-bottom: 15px;}
.testimonialTextpane .scroll-pane {height: 265px;}
.testimonialTextpane .scroll-pane h3{font-size: 22px; margin: 5px 0 8px; font-weight: bold;}
.testimonialTextpane .scroll-pane ul{padding-left: 15px; font-size: 12px;}
.testimonialTextpane .scroll-pane hr {margin: 5px 15px;}
.testimonialTextpane .scroll-pane p{ font-size: 12px; padding: 5px 15px; margin-bottom:10px; }
.testimonialTextpane .scroll-pane img{ padding: 5px 15px; float: left; }
.testimonialTextpane .scroll-pane .testimonialName, .testimonialTextpane .scroll-pane .textTestimonialName, .testimonialTextpane .scroll-pane .imgTestimonialName{ font-size: 15px; font-family: 'Open Sans', sans-serif; color: #ed1c24; font-style: italic; }
.testimonialTextpane .scroll-pane .textTestimonialName{}
.testimonialTextpane .scroll-pane .imgTestimonialName{padding:0 !important;}
.testimonialTextpane .scroll-pane .videoTestimonialName{padding: 5px 15px;}
.videoTestimonalText {height: 85px;}
.testimonialTextpane .scroll-pane .testimonialVideos{width: 360px; height: 100px; float: left; margin: 15px 15px 10px;}
.testimonialTextpane .scroll-pane .testimonialVideos img{  }
.testimonialTextpane .scroll-pane .testimonialVideos .videoTitle{ font-size: 12px; font-weight: 700; font-family: 'Open Sans', sans-serif; text-transform: uppercase; }
.testimonialTextTab{ border-radius: 5px; margin: 23px 0 39px 30px; width: 46.2%;}

/* Aboutus whowearePage CSS ends */

/* Aboutus contactusPage CSS starts */
.contactIcons {
  width: 100%;
  margin:0;
  padding: 0;
  background: #f5f5f5;
  font-size: 12px;
  border-radius: 2px;
  margin-bottom: 10px;
  text-align: center;
}
.contactIcons .col-md-3 span:first-child {margin-bottom: 0;}
.contactIcons .col-md-3 span { margin: 15px 0; width: 100%; float: left; }
.addPhone{ text-align: left; }
.contactForm { padding: 20px; font-size: 13px; }
.contactForm .padTop20px { padding-top: 15px !important; }
.contactForm input { width: 70%; border-radius: 0; height: 32px; padding: 0 12px !important; }
.contactForm select { width: 70%; border-radius: 0; height: 32px; padding: 0 12px !important; }
.contactForm textarea { width: 70%; border-radius: 0; }
.form-group .form-control { padding: 7px 12px; border-color: #c5c5c5; box-shadow: none; }
.form-horizontal .control-label { font-weight: normal; text-align: left; }
.sendmessagebtn { background: #ed1c24; border: 1px solid #ed1c24; color: #fff; text-shadow: none; }
.restbtn { background: #c5c5c5; color: #000; text-shadow: none; }
/* Aboutus contactusPage CSS ends */

/* Aboutus careersPage CSS starts */
.careerPage{width:500px; background: #fff; border-radius: 5px; padding: 0; margin-top:5px; box-shadow: 4px 3px 4px #3c3a3a;}
.openingTitle{width: 100%;
  display: inline-block; 
  background: #333;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  color:#fff; 
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase; 
}
.careerPane{padding:10px 15px;}
.careerPane p{margin: 10px 0 25px;}
.careerBtn { background: #ed1c24; border: 1px solid #ed1c24; color: #fff; text-shadow: none; border-radius: 20px; padding:8px 20px; margin-bottom:10px;}
/* Aboutus careersPage CSS ends */


.shopsNearbyPane{ background: #fff; border-radius: 5px; width:  100%; float: left; min-height: 500px; margin-bottom: 40px; }
.shopsNearbyPane h2{ background: #333333; color: #fff; text-transform: uppercase; font-size: 15px; padding: 15px;  margin: 0 !important; border-radius: 5px 5px 0 0; }
.shopsNearbyPane .whiteBgWrapper{ padding: 15px 20px;  }
.shopsNearbyPane .titleSearchPane{ width: 100%; float: left; }
.shopsNearbyPane .titleSearchPane .subheadText{ font-weight: bold; display: block; color: #666666; font-size: 12px; padding-bottom: 5px; }
.shopsNearbyPane .titleSearchPane .searchPaneOptions{ width: 100%; float: left; }
.shopsNearbyPane .titleSearchPane .searchPaneOptions .searchTextOption{ width: 60%; float: left; background: #e8e8e8; border-radius: 5px; padding: 5px; }
.shopsNearbyPane .titleSearchPane .searchPaneOptions .searchTextOption input{ border: none; background: none; width: 87%; font-size: 12px;}
.shopsNearbyPane .titleSearchPane .searchPaneOptions .searchTextOption .searchStoreIcon{ background: url('../images/search-icon.png') no-repeat center center;color: #ccc; float: right; height: 20px; width: 30px;}
.shopsNearbyPane .titleSearchPane .searchPaneOptions .orPane{ width: 8%; float: left; text-align: center; color: #a8a8a8; line-height: 1.9; }
.shopsNearbyPane .titleSearchPane .searchPaneOptions .currentLocationPane{ width: 30%; float: left; margin-top: 2px;}
.shopsNearbyPane .titleSearchPane .searchPaneOptions .currentLocationPane a{background: #ed1c24 url("../images/location-icon.png") no-repeat scroll 5px 6px;border-radius: 13px;color: #fff;float: left;font-size: 11px;padding: 5px 8px 5px 27px;}
.shopsNearbyPane .titleSearchPane .maxDistancePane{float: left;padding: 5px 0 5px;}
.maxDistancePane span {float: left; margin-right: 35px;}
.maxDistancePane span input[type="radio"], .maxDistancePane span  input[type="checkbox"]{margin: 4px 5px 0;}
.shopsNearbyPane .scroll-pane{height: 300px; overflow: visible !important; }
.shopsNearbyPane .scroll-pane ul{margin: 0; padding: 0;}
.shopsNearbyPane .scroll-pane ul li{margin: 0; padding: 0 0 15px 0; width: 100%; float: left; list-style: none;}
.shopsNearbyPane .scroll-pane ul li>div{ width: 33.3%; float: left; }
.shopsNearbyPane .scroll-pane ul li>div:last-child{text-align: right;}
.shopsNearbyPane .scroll-pane ul li>div:first-child span:first-child{font-weight: bold; text-transform: uppercase;}
.shopsNearbyPane .scroll-pane ul li>div span{ display: block; font-size: 11px; color: #666666;}
.shopsNearbyPane .scroll-pane ul li>div span a{ text-decoration: underline; }
.notFindStore{ background: #363437; border-radius: 5px; width: 100%; padding: 15px; float: left;}
.notFindStore h3 {color: #fff; font-size: 14px; line-height: 1.2; margin: 0 0 10px;text-transform: uppercase;}
.notFindStore textarea{width: 100%; height: 150px;}
.notFindStore input{background: #ed1c24 none repeat scroll 0 0;border: medium none;border-radius: 14px;color: #fff;font-size: 14px;margin-top: 10px;padding: 5px 23px;}

/* Promotion Page */
.promotionsPageLayout{ background: #b8b6b5; padding: 5px 25px 26px} 
.promotionsPageLayout .rightMenuPane{ width: 100%;  }
.promotionsPageLayout .rightMenuPane p{font-size: 13px; text-align: justify; }
.promotionsPageLayout .rightMenuPane .promtionBlocks{ }
.promotionsPageLayout .rightMenuPane .promtionBlocks>div{ background: #fff none repeat scroll 0 0;border-radius: 5px;box-shadow: 4px 3px 4px #3c3a3a;margin: 16px;width: 47%; min-height: 305px; overflow: hidden;}
.promotionsPageLayout .rightMenuPane .promtionBlocks div h2{background: #cd000b none repeat scroll 0 0;color: #fff;font-size: 13px; margin: 20px -15px;padding: 12px;text-transform: uppercase;}
.promotionsPageLayout .rightMenuPane .promtionBlocks div .imagePane { width: 50%; float: left; }
.promotionsPageLayout .rightMenuPane .promtionBlocks div .imagePane img{ margin-right:5%; width: 95%;}
.promotionsPageLayout .rightMenuPane .promtionBlocks div .contentPane { width: 50%; float: right; }
.promotionsPageLayout .rightMenuPane .promtionBlocks div .promotionLinks{ width: 100%; float: left; padding: 20px 0;}
.promotionsPageLayout .rightMenuPane .promtionBlocks div .promotionLinks a{color: #cd000b; float: right; text-align: center; width: 33.3%; font-size: 12px;  font-weight: bold; text-decoration: underline;}
.promotionsPageLayout .rightMenuPane .promtionBlocks div .endingSoon { background: #faac17 none repeat scroll 0 0; color: #000; font-size: 11px; font-weight: bold; padding: 8px; position: absolute; right: -46px; text-align: center; top: 20px; transform: rotate(39deg); width: 180px;}
.promotionsPageLayout .rightMenuPane .promtionBlocks div .hihglightText{font-weight: bold; color: #cd000b;}
.promotionsPageLayout .rightMenuPane .promtionBlocks div:last-child .promotionLinks{ width: 100%; float: left; padding: 0;}

.promotionVideoModel .modal-content{width: 100%; border: 20px solid #fff;}
.promotionVideoModel .modal-content button.close { background: #363437 none repeat scroll 0 0;border: 5px solid #fff; color: #fff;cursor: pointer; opacity: 9; padding: 0 5px 5px; position: absolute; right: 5px; top: -56px;}
.promotionVideoModel .modal-dialog{ margin-top: 70px; }
.promotionCarouselModel .modalHeader{width: 100%; float: left;}
.promotionCarouselModel .modalHeader .modalHeadLeft{width: 50%; float: left;} 
.promotionCarouselModel .modalHeader .modalHeadLeft img{width: 100%;}
.promotionCarouselModel .modalHeader .modalHeadRight{width: 50%; float: right; text-align: center; padding-top: 20px; font-size: 12px; font-weight: bold;}
.promotionCarouselModel {width: 650px; margin:0 auto;}
.promotionCarouselModel .modal-content{width: 100%; border: 20px solid #fff; background: #fff; float: left;}
.promotionCarouselModel .modal-content button.close { background: #fff none repeat scroll 0 0; border: 1px solid #000; color: #000; cursor: pointer; opacity: 9; padding: 0 3px 3px; position: absolute; right: -9px; top: -9px;}
.promotionCarouselModel .modalCaousel{ width: 100%; float: left; margin-top: 15px; }
.promotionCarouselModel .modalCaousel .item{text-align: center; width: 62%; margin:0 auto; }
.promotionCarouselModel .carousel-control{ background: none; color: #000; width: 5%;}
/* End Promotion Page */

/* Promotion Page */
.promotionContent{background: #fff; padding: 28px 30px; box-shadow: 4px 3px 5px #222222; border-radius: 5px;}
.promotionContent p{color: #000;}
.promotionContent .colorRed{color: red; padding: 23px 32px 30px; font-size: 12px;}

.PromotionContentPane>.row {padding: 35px 34px 50px;}
.promotionContent label{text-align: right; width: 100%; margin-right: 7px;}
.promotionContent form input{width: 97%;  border: 1px solid #b8b7b5; border-radius: 4px; padding: 6px 7px; }
.promotionContent form .form-group.checkBox{margin-top: 19px;}
.promotionContent form #checkboxFuture{width: auto; }
.promotionContent form span{font-size: 12.5px; color: #000;}
.promotionContent #promotionFormContainer{width: 63.666667%;}
.promotionContent #promoButtonContainer{margin-top: 28px; margin-bottom: 22px; padding-left: 9px;}
.promotionContent #promoButtonContainer .btnPromo{border: none; padding: 6px; width: 35%; font-size: 13px; border-radius: 4px;}
.promotionContent #promoButtonContainer #submitPromo{margin-right: 20px; color: #fff; background-color: red;}
.promotionContent #promoButtonContainer #resetPromo{color: #000;}
.promotionContent #morePromoInformation{float: right; padding-left:0; width: 36%;}


/*--------------------------------------------------------------------------------------*/
/*                                   MOBILE  STYLES                                     */
/*--------------------------------------------------------------------------------------*/
@media screen and (max-width: 767px){
	header .navbar{ margin: 10px 0 0 0 !important; }
	.footerLinks .col-md-3{width: 50%; float: left;}
	footer{text-align: center;}
	footer ul.pull-right{float: none !important; text-align: center; padding: 0; margin: 0; line-height: 2;}
	.HomeContentPane > .row{padding: 15px 0;}
	.newsArchieve{margin-top: 15px;}
	#slider-thumbs .col-md-12 .thumbImages ul{padding: 0;}
	#slider-thumbs .col-md-12 .thumbImages ul li{padding-left: 5px; padding-right: 5px;}
	#slider-thumbs .col-md-12 .thumbImages ul li img{width: 44px;}
	.thumbImages .social-share{position: static; margin-top: 15px !important;}
	.mobileMenu{background:#363637; width:100%; float:left; margin-bottom:1px;}
	.mobileMenu .mobilemenu1{width:20%; border-right:1px solid #fff; float:left;}
	.mobileMenu .mobileMenu2{width:20%; border-right:1px solid #fff; float:left; height:42px;}
	.mobileMenu .mobileMenu3{width:20%; border-right:1px solid #fff; float:left; height:42px; }
	.mobileMenu .mobileMenu4{width:20%; border-right:1px solid #fff; float:left;}
	.mobileMenu .mobileMenu5{width:20%; float:left;}
	.mobileMenu .mobileMenu2 a span{position: static;top: auto;left: auto; width: 100%;line-height: 3.2;color: #fff;text-align: center;}
	.mobileMenu .mobileMenu3 a{width: 100%; height: 35px; text-align: center; float: left; line-height: 3; color:#fff;}
	.mobileMenu select{ height: 42px !important; border: none; line-height: 1; font-size: 12px; background: none;color: #fff; text-transform:uppercase; -moz-appearance:none; -webkit-appearance:none; padding:1px 10px !important; }
	.mobileMenu select option{color: #333 !important; padding: 5px; border-bottom: 1px solid #363637 !important; background: #fff none repeat scroll 0 0;}
	.mobileMenu .active{ background:#cd000b; }
	.navbar.navbar-inverse{background: #000 none repeat scroll 0 0;border: medium none;float: left;margin: 0 !important;width: 98%; min-height: 0;}
	 header .container .row .menuPane{min-height: 30px; background: none;}
	 .navbar-toggle{background: #fff; margin-top:4px; margin-bottom:4px;}
	 .navbar-toggle span{background: #363637;}
	 header .navbar-inverse .navbar-nav{margin: 0 !important;}
	 header .navbar-inverse .navbar-nav > .open > a, header .navbar-inverse .navbar-nav > .open > a:hover, header .navbar-inverse .navbar-nav > .open > a:focus{border-radius: 0;}
	 header .logo{text-align: center;}
	 header .logo img{padding: 10px;}
	 .mobilesearchBlock{display: none;}
	 .mobilesearchBlock.active{ display:block !important; }
	 .mobilesearchBlock {float: left;margin: 0;text-align: center;width: 100%; padding: 10px 0;}
	 .productPageLayout .leftMenuPane{width: 100%;}
	.productPageLayout .rightMenuPane{width: 100%; padding: 10px;}
	.productPageLayout .rightMenuPane h2{ margin-top: 10px; }
	.productPageLayout .rightMenuPane th{padding: 5px;}
	.productPageLayout .rightMenuPane td{padding: 5px;}
	.productPageLayout .rightMenuPane td img{display: block;}
	.table-responsive{border: none;}
	.element3Pane .carousel-bounding-box{margin:0; padding: 0; width: 100%; margin-bottom: 5px;}
	.element3Pane #slider-thumbs li{margin: 0 2px 0 0; width: 15.2%; box-sizing: border-box;}
	.element3Pane #slider-thumbs{ width: 100%; }
	.element3Textpane{ margin-bottom: 15px; }
	.element3Textpane .scroll-pane img {width: 90%;}
	.element3TextTab{ width: 100%; margin: 23px 0; }
	.element3TextTab .innertabs img{width: 80px; }

  .element3EHTTextpane{margin-bottom: 15px;}
  .element3EHTTextpane .scroll-pane img {width: 90%;}
  .element3EHTTextTab{ width: 100%; margin: 23px 0; }
  .element3EHTTextTab .innertabs img{width: 80px; }

	.specialityBlock{ background: #fff; border-radius: 5px; padding: 15px; max-width: 90%; margin-top: 10px; margin-bottom: 10px;} 
	.specialityBlock .leftPane{ width: 50%; float: left; }
	.specialityBlock .leftPane img{width: 90%} 
	.specialityBlock .rightPane{ width: 50%; float: right; }
	.specialityBlock .rightPane img{width: 100%;}
	.overViewPane img{width: 100%;}
	.europeanProductSlider .whiteBgPane{ width: 90%; float: left; margin-bottom: 20px;}
	.europeanProductSlider .tabpane{margin-top: 0 !important;}
	.europeanProductSlider .tabpane .nav-tabs > li > a{padding: 10px 3px; font-size: 12px;}
	.europeanProductSlider .tabpane .tab-pane .innertabs{padding: 10px 0; }
	.europeanProductSlider .europeanthumbSlider ul li{margin: 0;}
  .wheelCylindarBlock{width: 100%;}
  .searchBulletinPane{width: 100%;}
  .searchBulletinPane input{width: 80%;}
  .shopsNearbyPane .titleSearchPane .searchPaneOptions .searchTextOption input{width: 81%; }
  .maxDistancePane {width: 90%}
  .shopsNearbyPane .scroll-pane{height: 240px;}
  .promotionsPageLayout .rightMenuPane .promtionBlocks > div {margin: 10px 0; min-height: 319px; width: 100%;}
  .promotionsPageLayout .rightMenuPane .promtionBlocks div .contentPane{width: 100%;}
  .promotionsPageLayout .rightMenuPane .promtionBlocks div .imagePane{width: 100%;} 
  .promotionVideoModel .modal-content iframe{width: 100%;}
  .promotionCarouselModel {width: 100%; margin:0 auto;}
  
  .promotionContent .colorRed{padding-left: 0;}
  .promotionContent #promotionFormContainer{width: 100% !important;}
  .promotionContent #promotionFormContainer form input, .promotionContent form label {text-align: left;}
  .promotionContent #promoButtonContainer{margin-top: 0px !important;	margin-bottom: 37px;padding-left: 0 !important;}
  .promotionContent #promoButtonContainer .btnPromo {width: 45%;}   
  .promotionContent #morePromoInformation{width: 100%; padding-left: 15px;}
  
}

@media screen and (max-device-width: 767px) and (orientation: landscape) {
  .promotionsPageLayout .rightMenuPane .promtionBlocks div .contentPane{width: 50%;}
  .promotionsPageLayout .rightMenuPane .promtionBlocks div .imagePane{width: 50%;}
  .promotionsPageLayout .rightMenuPane .promtionBlocks div:last-child .promotionLinks{  padding:10px 0;}
  
  .promotionContent #morePromoInformation{float: left;}
  
}


/*--------------------------------------------------------------------------------------*/
/*                                   TABLET  STYLES                                     */
/*--------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 970px){
	.topPane .col-md-2{ width: 16.6667%; padding-left: 10px;  padding-right: 0 !important;}
	header .navbar{ margin-top: 10px;}
	header .container .row .menuPane{min-height: 40px;}
	.footerLinks .col-md-3{width: 20%; float: left;}
	#slider-thumbs .col-md-12 .thumbImages ul li a img{width: 48px;}
	.thumbImages .social-share{top: 13px;}
	.productPageLayout .leftMenuPane{width: 30%; float: left;}
	.productPageLayout .rightMenuPane{width: 70%; float: left;}
	.element3Pane .carousel-bounding-box{margin:0; padding: 0; width: 428px; margin-bottom: 15px;}
	.element3Pane #slider-thumbs li{margin: 0 2px 0 0; width: 15.75%; box-sizing: border-box;}
	.element3Pane #slider-thumbs{ width: 100%; }
	.element3TextTab{margin:0 ;}
	.element3TextTab{ width: 100%; }
	.element3TextTab .scroll-pane{height: 450px;}
	.element3TextTab{ margin-bottom: 20px; }
	.element3Textpane{ margin-bottom: 20px; }
	.specialityBlock{ background: #fff; border-radius: 5px; padding: 15px; max-width: 100%; width: 92%; margin-top: 10px; margin-bottom: 10px;} 
	.specialityBlock .leftPane{ width: 50%; float: left; }
	.specialityBlock .leftPane img{width: 90%} 
	.specialityBlock .rightPane{ width: 50%; float: right; }
	.overViewPane img{width: 100%;}
	.europeanProductSlider .whiteBgPane{ width: 95%; float: left; margin-bottom: 20px; }
	.europeanProductSlider .tabpane{margin-top: 0 !important;}
	.europeanProductSlider .tabpane .nav-tabs > li > a{padding: 10px 3px; font-size: 12px;}
	.europeanProductSlider .tabpane .tab-pane .innertabs{padding: 10px 0; }
  .wheelCylindarBlock{width: 100%; margin: 10px 0;}
  .searchBulletinPane{width: 100%;}
  .searchBulletinPane input{width: 80%;}
  .shopsNearbyPane .scroll-pane{height: 250px;}
  .maxDistancePane span{ margin-right: 20px; }
  .shopsNearbyPane .titleSearchPane .maxDistancePane{padding: 15px 0 0 0;}
  .promotionsPageLayout .rightMenuPane .promtionBlocks > div { width: 96%;}
  .promotionsPageLayout .rightMenuPane .promtionBlocks div:last-child .promotionLinks{  padding:10px 0;}
  
	.promotionContent .colorRed{padding-left: 0;}
  	.promotionContent #promotionFormContainer {width: 100%;}
    .promotionContent #promotionFormContainer form label{text-align: left;}
    .promotionContent #promoButtonContainer{padding-left: 0 !important;}
	.promotionContent #morePromoInformation{width: 100%; padding-left: 15px;}  
	
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)  {
	header .nav > li{margin: 0;}
	.element3Pane .carousel-bounding-box{margin:0; padding: 0; width: 428px; margin-bottom: 15px;}
	.element3Pane #slider-thumbs li{margin: 0 2px 0 0; width: 15.75%; box-sizing: border-box;}
	.element3Pane #slider-thumbs{ width: 100%; }
	.element3Textpane img{width: 100%; }
	.element3TextTab{margin:23px 0 39px 23px;}
	.element3TextTab .innertabs img{width: 30%; }
	.bhoechie-tab-menu .list-group-item{word-wrap: break-word;}
  .searchBulletinPane{width: 100%;}
  .searchBulletinPane input{width: 80%;}
  .promotionsPageLayout .rightMenuPane .promtionBlocks > div { width: 46.5%;}
  .promotionsPageLayout .rightMenuPane .promtionBlocks > div{min-height: 358px;}
  .promotionsPageLayout .rightMenuPane .promtionBlocks div:last-child .promotionLinks{  padding:10px 0;}
  
}