body{font-family: Verdana,Geneva,sans-serif; font-size: 14px; background: url('../images/bg-tile.png') #323232;}

h1{
  font-size: 36px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; 
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #cd000b;
  text-decoration: none;
  outline: none;
  margin-top:2px;
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

hr {
  border-top: 1px dotted #cd000b;
}

.container{max-width: 1160px;}
section{max-width: 1160px; margin:  0 auto;}
.topPane{background: #fff;}
.topPane select{ background: #838383; color: #fff; border: none; height: 25px; font-size: 12px; box-shadow: none; padding: 3px 1px;  }
.topPane .col-md-2{padding-top: 10px; width: 14.5%;}
.topPane .col-md-2.country{padding-top: 10px; width: 20.5%;}
.topPane .col-md-2:last-child{padding-top: 10px; width: 14.5%; padding-right: 0;}
.topPane .col-md-2 input, .topPane .col-md-2 button{height: 25px; box-shadow: none; padding:1px 12px; box-shadow: none;}
.topPane .search .input-group{background: #838383 !important; color: #fff; border-radius: 3px; }
.topPane .country{position: relative;}
.topPane .country>a{background: #838383 none repeat scroll 0 0 !important;border-radius: 3px;color: #fff;display: block;font-size: 12px;padding: 4px 10px;}
.topPane .country>a .caret{ float: right; margin-top: 7px; }
.topPane .country ul.dropdown-menu {margin:0; padding:0 5px; left: auto; right: 16px; border:3px solid #7c7c7c; border-radius: 0; width: 250px; top: 45px;}
.topPane .country ul.dropdown-menu li{padding: 5px 0; border-bottom: 1px solid #9a9a9a; width: 100%; float: left; }
.topPane .country ul.dropdown-menu li span{float: left; font-size: 12px;}
.topPane .country ul.dropdown-menu li span.countryName {color: #bd0416; width: 100px; min-height: 22px;}
.topPane .country ul.dropdown-menu li span.languageOne {color: #555555; width: 63px; border-right:1px solid #bd0416; margin-bottom: 4px;}
.topPane .country ul.dropdown-menu li span.languageSecond {color: #555555; width: 50px; margin-left: 10px; margin-bottom: 4px;}
.topPane .country ul.dropdown-menu li span a{color: #555;}
.topPane .country ul.dropdown-menu li:last-child{border:none;}

.topPane .search input, .topPane .search button{color: #fff !important;  background: transparent !important; border: none; font-size: 13px;}
.topPane .login a{ width: 100%; background: #cd000b; color: #fff; border: none; font-size: 13px !important; line-height: 1.2; padding: 5px 12px; }
.topPane .search input::-webkit-input-placeholder {color: #fff;}
.topPane .search input:-moz-placeholder {color: #fff;}
.topPane .search input::-moz-placeholder {color: #fff;}
.topPane .search input:-ms-input-placeholder { color: #fff;}

header .container .row.headerBlock{background: url("../images/slider-bg.jpg") #040404 no-repeat bottom left; padding-bottom: 8px; }
header .container .row .menuPane{ background: url('../images/menu-bg.jpg') no-repeat top right; min-height: 118px; margin: 0; padding: 0 }
header .navbar{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;font-size: 15px;margin: 83px 0 0;min-height: 36px; } 
header .navbar-nav > li > a{ padding-top: 8px;  padding-bottom: 6px; text-transform: uppercase; color: #fff !important;}
header .navbar-right .dropdown-menu{left: 0; right: auto; font-size: 15px; margin: 0; padding:10px 0; border: none; width:auto; min-width: 180px; border-radius: none; box-shadow: 5px 5px 5px #040404; }
header .nav > li:last-child .dropdown-menu{left: auto; right: 0;}
header .navbar-right .dropdown-menu li a{font-size: 13px; padding:6px 12px; text-transform: uppercase;}
header .nav > li{ margin: 0 17px; }
header .navbar{font-family: 'Open Sans', sans-serif;}
header .navbar-inverse .navbar-nav > .open > a, header .navbar-inverse .navbar-nav > .open > a:hover, header .navbar-inverse .navbar-nav > .open > a:focus{ background: #cd000b; border-radius: 10px 10px 0 0; box-shadow: none;}
header .navbar-collapse{ margin: 0; padding: 0 }
header .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{ background: transparent; color: #cd000b; }
header .logo {margin:0 !important;}
header .logo img{padding: 17px 0 0 30px;}

.sliderPane .col-md-12{padding: 0; margin: 0;}
#slider .carousel{padding-bottom: 8px; background: url("../images/slider-bg.jpg"); position: relative;}
#slider-thumbs .col-md-12 .thumbImages{background: #000; width: 100%; float: left; padding-top: 13px; padding-bottom: 13px;}
#slider-thumbs .col-md-12 .thumbImages ul{text-align: center; margin:0;}
#slider-thumbs .col-md-12 .thumbImages ul li{list-style: none; display: inline; padding-left: 10px; padding-right: 10px;}
#slider-thumbs .col-md-12 .thumbImages ul li a img{cursor: pointer;}
#slider .prev, #slider .next {background-color: #ed000b;border-radius: 4px;color: #fff;display: inline-block;height: 40px;line-height: 40px;margin-top: -25px;position: absolute;text-align: center;top: 50%;width: 40px;z-index: 5;}
#slider .prev:hover, #slider .next:hover {background-color: #5f5f61;}
#slider .prev {left: -7px;}
#slider .next {right: -7px;}

.thumbImages .social-share{position: absolute; top: 20px; right: 20px;}
.thumbImages .social-share li{padding: 0 !important;}
.thumbImages .social-share li a {background: #404040 none repeat scroll 0 0; border-radius: 2px; color: #fff; display: inline-block; font-size: 15px; height: 30px;line-height: 30px; text-align: center; width: 31px; padding: 0;}
.thumbImages ul.social-share li.facebook a:hover { background: #37589b; }
.thumbImages ul.social-share li.twitter a:hover { background: #46d4fe; }
.thumbImages ul.social-share li.linkedin a:hover { background: #0077b5; }
.thumbImages ul.social-share li.youtube a:hover { background: #e62117; }

.HomeContentPane{background: #b8b7b5;}
.HomeContentPane>.row{padding: 30px 15px 45px;}
.HomecontentTextPane{background: #fff; border-radius: 5px 5px 0 0;}
.HomecontentTextPane h1{ background: #cd000b; color: #fff; text-transform: uppercase; font-size: 15px; margin: 0; padding: 10px 15px; border-radius: 5px 5px 0 0;}
.HomecontentTextPane p{padding: 15px; margin: 0; text-align: justify;}
.HomecontentTextPane img{float: right;}
.testimonialsName {display: block; font-style: italic;}
.testimonialsPane{margin-bottom: 20px;}
.testimonialsPane p{font-size: 12px;}
.testimonialsPane p:last-child{padding-top: 0 !important;}
.HomecontentTextPane .readMore{ display: block; text-align: right; font-weight: bold; margin-right:10px;}
.updates{ margin-bottom: 15px; }
.updates .imagePane{ width: 145px; float: left; padding: 15px; }
.updates h3{margin: 10px 0 3px; padding: 0;}
.updates p{margin-top: 10px 0; padding-top: 0; font-size: 12px;}
.profileBlock p{font-size: 13px;}

.newsArchieve h3{color: #cd000b;font-size: 14px;font-weight: bold;margin-bottom: 0;text-transform: uppercase;padding-left: 15px; padding-right: 15px;}
.newsArchieve h3:first-child{margin-top: 13px;}
.newsArchieve p{padding: 0 15px;}
.newsArchieve hr{margin-left: 15px; margin-right: 15px;}
.newsArchieve .readMore{padding: 18px 15px;}

.footerLinks{ background: #eaeaea; color: #222; padding-bottom: 30px; }
.footerLinks h3{color: #222229; font-weight: bold; text-transform: uppercase; padding-left: 15px;}
.footerLinks .col-md-3{width: 20%;}
.footerLinks .col-md-3 ul{margin: 0; padding: 0;}
.footerLinks .col-md-3 li{list-style: none; padding-left: 15px;}
.footerLinks .col-md-3 a{color: #222; font-size: 12px; line-height: 2;}
.footerLinks .col-md-3 a:hover{color: #cd000b;}

footer{background: #2e2e2e; color: #fff; border-top:5px solid #cd000b; font-size: 12px; padding: 15px 0;}
footer li{list-style: none; display: inline; padding: 0 5px;}
footer a{color: #fff;}
footer a:hover{color: #cd000b;}



.productPageLayout .leftMenuPane.techinicianlogin h2{margin-top: 0; text-transform: uppercase;}
.productPageLayout .rightMenuPane{ background: #b8b6b5; width: 79%; min-height: 600px; padding-left: 33px; padding-right: 30px; float: right;}
.productPageLayout .rightMenuPane h2{ text-transform: uppercase; margin-top:26px; }
.productPageLayout .rightMenuPane p{ font-size: 12px; color: #000; }
.productPageLayout .rightMenuPane table{border-top: 2px solid #4c4c4c; border-left: 2px solid #4c4c4c; margin-bottom: 30px;}
.productPageLayout .rightMenuPane th{background: #e5e5e5 none repeat scroll 0 0;border-bottom: 2px solid #4c4c4c;border-right: 2px solid #4c4c4c;color: #040404;font-size: 14px;font-weight: normal;padding: 18px;text-align: center;text-transform: uppercase; vertical-align: middle; width: 27%;}
.productPageLayout .rightMenuPane th span{display: block;}
.productPageLayout .rightMenuPane th .imgSpan{display: block; min-height: 110px;}
.productPageLayout .rightMenuPane td{background: #fff; border-bottom: 2px solid #4c4c4c;border-right: 2px solid #4c4c4c;font-size: 14px;font-weight: normal;padding: 18px;text-align: center; vertical-align: middle;}
.productPageLayout .rightMenuPane tr td:first-child{background: #ed1c24; color: #fff; text-transform: uppercase; border: 2px solid #000;}
.productPageLayout .rightMenuPane tr th:first-child{background: #ed1c24; color: #fff; border: 2px solid #000}
.overViewPane{background: #fff; border-radius: 5px 5px 0 0; padding: 15px; margin-bottom: 40px;}
.overViewPane img{ float: right; }
.overViewPane ul{ width: 350px; float: left; }
.clear{clear: both;}
.element3Pane{background: #fff; border-radius: 5px; padding: 17px 17px 6px;}
.element3Pane ul{margin:0; padding: 0;}
.element3Pane ul li{margin:0; padding: 0; list-style: none;}
.element3Pane #slider-thumbs li{ width: 100px; float: left; margin-right: 22px; }
.element3Pane #slider-thumbs li a{margin-bottom: 12px; box-shadow: none; border-radius: 0;}
.element3Pane .carousel-bounding-box{margin:0; padding: 0; width: 563px;}
.element3Pane #slider-thumbs{padding-right: 0; margin-right: 0; width: 260px; float: right;}
.element3Pane #slider .carousel{ background: transparent; padding: 0; }
.element3Pane #slider .prev, .element3Pane #slider .next {background: none !important;border-radius: 4px;color: #000;display: inline-block;height: 40px;line-height: 40px;margin-top: -25px;position: absolute;text-align: center;top: 50%;width: 40px;z-index: 5; font-size: 22px;}
.element3Pane #slider .prev:hover, .element3Pane #slider .next:hover {background: none !important;}
.element3Textpane{ background: #fff; border-radius: 5px; padding:10px; margin: 23px 0 39px;}
.element3Textpane .scroll-pane {height: 450px;}
.element3Textpane .scroll-pane h3{font-size: 22px; margin: 5px 0 8px; font-weight: bold;}
.element3Textpane .scroll-pane ul{padding-left: 15px; font-size: 12px;}
.element3TextTab{  border-radius: 5px; margin: 23px 0 39px 30px; width: 46.2%;}
/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  padding: 0 !important;
  border-radius: 4px;
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  height: 470px;
  background: #ed000c;
  border-radius: 5px 0 0 5px;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0; padding: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 3px;
  border:none;
  background: #ed000c;
  color: #fff; text-align: left;
  font-weight: bold;
  border-radius: 5px 0 0 5px;
}
div.bhoechie-tab-menu div.list-group>a:hover, div.bhoechie-tab-menu div.list-group>a:focus{ background: #ed000c; }
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  margin-bottom: 3px;
}
div.bhoechie-tab-menu div.list-group>a.active{
  background-color: #fff;
  background-image: #fff;
  color: #000;
  text-shadow: none;

}

div.bhoechie-tab-content{
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
}
div.bhoechie-tab{ padding: 0; }
div.bhoechie-tab div.bhoechie-tab-content:not(.active){display: none;}
.bhoechie-tab-menu .list-group{ background: #b8b7b5;  }
.bhoechie-tab-menu .list-group-item{ background: #b8b7b5; padding: 16px 0 16px 10px; margin-bottom: 2px; font-size: 12px;  }
.element3TextTab .innerTabPane{ /*padding-top: 16px; padding-bottom: 16px;*/}
.element3TextTab .innertabs { padding: 15px 1px; float: left;}
.element3TextTab .innertabs img{ float: left; margin-right: 5px; }
.element3TextTab .innertabs h3{ text-align: center;  margin:0 0 5px 0;  color: #7f8a9c; font-size: 12px;}
.element3TextTab .innertabs p{ text-align: center; font-size: 10px;}
.element3TextTab .scroll-pane{height: 450px;}
.element3TextTab .scroll-pane .row{padding: 0; margin: 0; }
.specialityBlock{ background: #fff; border-radius: 5px; padding: 15px; max-width: 385px;  margin: 20px 20px 30px 18px; box-shadow: 5px 5px 9px #80807f;}  
.specialityBlock .leftPane{ width: 50%; float: left; } 
.specialityBlock .rightPane{ width: 50%; float: right; }
.specialityBlock .rightPane h3{ margin: 0; padding: 5px 0; font-size: 15px; color: #ce000c; line-height: 1.2;}
.specialityBlock .rightPane p{ font-size: 11px; text-align: justify; }
.europeanProductSlider .whiteBgPane{ background: #fff; border-radius: 5px 5px 0 0; padding: 15px; margin: 0 15px; width: 46.7%;}
.europeanProductSlider .whiteBgPane:last-child{margin-right: 1px;}
.europeanProductSlider .europeanthumbSlider ul{ margin:0; padding: 0; }
.europeanProductSlider .europeanthumbSlider ul li{ margin:0; padding: 0; list-style: none; display: inline; float: left; margin-right:16px;}
.europeanProductSlider .europeanthumbSlider ul li:last-child{margin: 0;}
.europeanProductSlider .europeanthumbSlider ul li a{ margin: 2px; padding: 0; border-radius: 0; }
.europeanProductSlider .europeanthumbSlider ul li a img{margin:0; padding:0; cursor: pointer;}
.europeanProductSlider .whiteBgPane .scroll-pane{height: 335px; outline: none;}
.europeanProductSlider .whiteBgPane .scroll-pane h2{margin: 15px 0; text-transform: none; line-height: 1.6;}
.europeanProductSlider .whiteBgPane .scroll-pane li{ font-size: 12px; list-style: square; }
.europeanProductSlider .tabpane{ margin: 25px 0 40px 0; width: 100%; padding: 0;}
.europeanProductSlider .tabpane >div{padding: 0;}
.europeanProductSlider .tabpane .tab-content{background: #fff; padding: 10px;}
.europeanProductSlider .tabpane .tab-content .row{padding:0; margin: 0;}
.europeanProductSlider .tabpane .nav-tabs>li>a{ background: #cd000b; color: #fff; font-weight: bold; font-weight: 700; font-family: 'Open Sans', sans-serif;}
.europeanProductSlider .tabpane .nav-tabs>li.active a{ background: #fff; color: #000; }
.europeanProductSlider .tabpane .nav-tabs>li>a:hover, .europeanProductSlider .tabpane .nav-tabs>li>a:focus{box-shadow: none; border-color: #cd000b;}
.europeanProductSlider .tabpane .nav-tabs>li.active a:hover, .europeanProductSlider .tabpane .nav-tabs>li.active a:focus{box-shadow: none; border-color: #fff;}
.europeanProductSlider .tabpane .tab-pane{ text-align: center; }
.europeanProductSlider .tabpane .tab-pane  .scroll-pane{height: 300px; outline: none;}
.europeanProductSlider .tabpane .tab-pane .innertabs{padding:50px 0;}
.europeanProductSlider .tabpane .tab-pane .innertabs h3{color: #7d8a9c; text-transform: uppercase; margin: 30px 0 0 0;}
.europeanProductSlider .tabpane .tab-pane .innertabs p{font-weight: bold; text-transform: none;}

.wheelCylindarBlock{ margin: 23px 0 30px; width: 48.2%; }
.wheelCylindarBlock h2{ margin-top: 0 !important; margin-left:0; color:#fff; text-transform: none !important; text-shadow: 3px 4px 5px #000; font-size: 24px; }
.wheelCylindarBlock .whiteBlock{background: #fff; border-radius: 5px; padding:10px;}
.wheelCylindarBlock .whiteBlock .scroll-pane {height: 450px;}
.wheelCylindarBlock .whiteBlock .scroll-pane img{float: right;}
.wheelCylindarBlock .whiteBlock .scroll-pane h3{font-size: 22px; margin: 5px 0 8px; font-weight: bold;}
.wheelCylindarBlock .whiteBlock .scroll-pane ul{padding-left: 15px; font-size: 12px;}
.wheelCylindarBlock .whiteBlock .scroll-pane ul li { margin-bottom: 3px; }
.wheelCylindarBlock .whiteBlock .scroll-pane ul li span{font-weight: bold; display: block; }
.productPageLayout .rightMenuPane .wheelCylindarBlock:first-child{ margin-right: 15px !important; }
.productPageLayout .rightMenuPane .wheelCylindarBlock:last-child{ margin-left: 15px; float: right; }
.fRight{float: right;}
.searchReviewTab{margin-bottom: 37px;}
.searchReviewTab .nav-tabs > li > a{background:#cd000b; border: none; color: #fff; }
.searchReviewTab .nav-tabs > li.active > a{background:#fff; border: none; color: #000; }
.searchReviewTab .tab-content{ background: #fff; padding: 15px;}
.searchReviewTab .tab-content label{ font-size: 11px; text-transform: uppercase; }
.searchReviewTab .tab-content select{width: 100%; font-size: 11px;}
.searchReviewTab .tab-content .submitButton{ background: #cd000b; color: #fff; border:none; padding: 3px 15px 3px 15px; font-size: 11px; text-transform: uppercase; border-radius: 3px; margin-top: 25px;}
.technicianLogin{border:1px solid #ed1b24; padding: 5px; text-align: center; width: 95%;}
.technicianLogin a{color: #ed1b24; text-transform: uppercase;}
.resourcesTechBulletin{background: #fff; border-radius: 5px; padding: 17px 17px 6px; box-shadow: 4px 3px 4px #3c3a3a;}
.resourcesTechBulletin h3{ margin-top: 0;  font-weight: 400;color: #8d8c8a; font-size: 18px;}
.searchBulletinPane{box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; width: 45%; background: #eeeeee; padding:0 5px; border-radius: 4px;}
.searchBulletinPane input{ background: transparent; padding: 10px 5px; border: none; width: 88%; }
.searchBulletinPane input[type=submit]{ color: #eeeeee; font-size: 1px; width: 40px; height: 40px; float: right; background: url("../images/search-icon-bulletin.png") no-repeat 12px center;}
.newsBulletinList ul {margin: 0; padding: 20px 0 0 0;}
.newsBulletinList ul li {list-style: none; border-top:1px solid #f4f4f4; padding: 10px 15px; margin: 0; width: 100%; float: left; font-size: 12px;}
.newsBulletinList ul li .bulletinText{width: 95%; float: left;}
.newsBulletinList ul li .downloadIcon{ width: 5%; float: left; text-align: right; }
.resourcesTechBulletin .pagination{margin: 5px;}
.resourcesTechBulletin .pagination{font-size: 11px;}
.bulletinLabel{ padding: 10px 0; }
.bulletinLabel span{ display: block; padding-left: 39px; }
.literatureWhitePane{background: #fff; border-radius: 5px; padding: 17px 17px 6px; box-shadow: 4px 3px 4px #3c3a3a;}
.literatureWhitePane h3{ margin-top: 0;  font-weight: 400;color: #cd000e; font-size: 18px;}

.shopsNearbyPane{ background: #fff; border-radius: 5px; width:  100%; float: left; }
.shopsNearbyPane h2{ background: #333333; color: #fff; text-transform: uppercase; font-size: 15px; padding: 15px;  margin: 0 !important; border-radius: 5px 5px 0 0;}
.shopsNearbyPane .whiteBgWrapper{ padding: 15px 20px; }
.shopsNearbyPane .titleSearchPane{ width: 100%; float: left; }
.shopsNearbyPane .titleSearchPane .subheadText{ font-weight: bold; display: block; color: #666666; font-size: 12px; padding-bottom: 5px; }
.shopsNearbyPane .titleSearchPane .searchPaneOptions{ width: 100%; float: left; }
.shopsNearbyPane .titleSearchPane .searchPaneOptions .searchTextOption{ width: 60%; float: left; background: #e8e8e8; border-radius: 5px; padding: 5px; }
.shopsNearbyPane .titleSearchPane .searchPaneOptions .searchTextOption input{ border: none; background: none; width: 87%;}
.shopsNearbyPane .titleSearchPane .searchPaneOptions .searchTextOption .searchStoreIcon{ background: url('../images/search-icon.png') no-repeat center center;color: #ccc; float: right; height: 20px; width: 30px;}
.shopsNearbyPane .titleSearchPane .searchPaneOptions .orPane{ width: 8%; float: left; text-align: center; color: #a8a8a8; line-height: 1.9; }
.shopsNearbyPane .titleSearchPane .searchPaneOptions .currentLocationPane{ width: 30%; float: left; margin-top: 2px;}
.shopsNearbyPane .titleSearchPane .searchPaneOptions .currentLocationPane a{background: #ed1c24 url("../images/location-icon.png") no-repeat scroll 5px 6px;border-radius: 13px;color: #fff;float: left;font-size: 11px;padding: 5px 8px 5px 27px;}
.shopsNearbyPane .titleSearchPane .maxDistancePane{}
